
html {
    /* scroll-behavior: smooth; */
    font-size: 16px;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-color: #6195FF;
    --background-color: #fafafa;
}

/*start hero-serction */
.hero-section {
    background-image: url(images/background1.webp);
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.hero-section::after {
    content: "";
    position: absolute;
    background-color: #1C1D21;;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px;
    width: 70%;
    z-index: 9999;
}

.header ul {
    display: flex;
    gap: 20px;
}

.header .logo img{
    max-height: 50px;
}

.header ul li a {
    text-transform: capitalize;
    color: white;
    font-size: 14px;
}

.header-container {
    display: flex;
    justify-content: center;
}
/*end hero-serction */