
html {
    /* scroll-behavior: smooth; */
    font-size: 16px;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
    height: 4000px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-color: #6195FF;
    --background-color: #fafafa;
    --w-color: white;
}

/*start hero-serction */
.hero-section {
    background-image: url(images/background1.webp);
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.hero-section::after {
    content: "";
    position: absolute;
    background-color: #1C1D21;;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: transparent;
}

.header {
    width: clamp(768px, 70%, 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    transition: 0.2s;
}

.header .logo img{
    max-height: 50px;
    cursor: pointer;
}

.header .logo img:hover {
    opacity: 0.8;
}

.nav {
    display: flex;
    flex-direction: column;
}

.header ul {
    display: flex;
    gap: 25px;
}

.header ul li a {
    text-transform: capitalize;
    color: white;
    position: relative;
    font-size: 14px;
}

.header ul li a:hover {
    opacity: 0.8;
}

.header .drop-minue > a::before {
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    font-size: 8px;
    color: var(--w-color), white;
    position: absolute;
    right: -13px;
    top: 37%;
    cursor: pointer;
    transition: 0.3s;
}

.header ul li a:not(.new-padding > a)::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 10px;
    left: 0;
}

.header ul li a:not(.drop-minue a):hover::after {
    width: 100%;
    transition: 0.2s width;
}

.header ul li .drop-minue a:hover::after {
    width: 130%;
    transition: 0.2s width;
}

.header ul a:not(.new-padding) {
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
}

.header .drop-minue {
    position: relative;
}

.header .drop-minue ul{
    display: none;
    width: 180px;
    padding: 5px 20px 5px 10px;
    position: absolute;
    background-color: var(--main-color);
    bottom: -30px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}

.header .drop-minue:hover ul{
    display: block;
}

.header .drop-minue a:hover::before {
    transform: rotate(-90deg);
}

.nav ul li:not(.new-padding) {
    height: 50px;
}

.black {
    color: black !important;
}

.bk-color {
    background-color: white !important;
}

.display {
    display: none;
}
/*end hero-serction */

/* media query */

/* Small devices (phones) */
@media (max-width: 576px) {

}

/* Medium devices (tablets) */
@media (max-width: 768px) {
    .header .nav {
        height: calc(100vh - 50px);
        width: 250px;
        background-color: #1C1D21;
        position: fixed;
        right: 0;
        top: 57px;
    }

    .header-container {
        height: 57px;
    }

    .header .nav ul {
        flex-direction: column;
        gap: 0;
    }

    .header .nav ul a {
        font-size: 15px;
        border-bottom: 1px solid gray;
        border-left: 6px solid var(--main-color);
        padding-left: 10px;
    }

    .header .nav ul a:hover {
        background-color: var(--main-color);
    }

    .header #wh-img {
        display: none;
    }

    .header #bl-img {
        display: block;
    }
    .header {
        padding-top: 0 !important;
    }

    .header .nav a::after {
        display: none;
    }
    
    .header .drop-minue ul{
        display: block;
        width: 100%;
        height: 50px;
        background-color: var(--main-color);
        cursor: pointer;
    }
}

/* Large devices (laptops) */
@media (max-width: 992px) {

}

/* Extra large devices (desktops) */
@media (max-width: 1200px) {

}