
html {
    /* scroll-behavior: smooth; */
    font-size: 16px;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
}

::selection {
    background-color: var(--main-color);
    color: white; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-color: #6195FF;
    --background-color: #fafafa;
    --w-color: white;
}

/*start hero-serction */
.hero-section {
    background-image: url(images/background1.webp);
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section::after {
    content: "";
    position: absolute;
    background-color: #1C1D21;;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
}

.hero-section .hero-text {
    color: white;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 999;
}

.hero-section .hero-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.5rem, calc(4vw + 1rem), 3.4375rem);
    text-transform:uppercase;
    font-weight: 700;
}

.hero-text p {
    max-width: 900px;
}

.hero-text .btn-holder {
    margin-top: 35px;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.hero-text button {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    display: inline;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
}

.wh-btn {
    background: #FFF;
    color: #10161A ;
}

.bl-btn {
    background-color: var(--main-color);
    color: white;
}

.hero-text button:hover {
    opacity: 0.8;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: transparent;
}

.header {
    width: clamp(768px, 70%, 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    transition: 0.2s;
}

.header .logo img{
    max-height: 50px;
    cursor: pointer;
}

.header .logo img:hover {
    opacity: 0.8;
}

.nav {
    display: flex;
    flex-direction: column;
}

.header ul {
    display: flex;
    gap: 25px;
}

.header ul li a {
    text-transform: capitalize;
    color: white;
    position: relative;
    font-size: 14px;
}

.header ul li a:hover {
    opacity: 0.8;
}

.header .drop-minue > a::before {
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    font-size: 8px;
    color: var(--w-color), white;
    position: absolute;
    right: -13px;
    top: 37%;
    cursor: pointer;
    transition: 0.3s;
}

.header ul li a:not(.new-padding > a)::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 10px;
    left: 0;
}

.header ul li a:not(.drop-minue a):hover::after {
    width: 100%;
    transition: 0.2s width;
}

.header ul li .drop-minue a:hover::after {
    width: 130%;
    transition: 0.2s width;
}

.header ul a:not(.new-padding) {
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
}

.header .span-holder {
    display: none;
}

.header .drop-minue {
    position: relative;
}

.header .drop-minue ul{
    display: none;
    width: 180px;
    padding: 5px 20px 5px 10px;
    position: absolute;
    background-color: var(--main-color);
    bottom: -30px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}

.header .drop-minue:hover ul{
    display: block;
}

.drop-minue:hover .lol1::before {
    transform: rotate(-90deg);
}

.nav ul li:not(.new-padding) {
    height: 50px;
}

.black {
    color: black !important;
}

.bk-color {
    background-color: white !important;
}

.display {
    display: none;
}

.header span {
    position: relative;
    display: block;
    width: 25px;
    height: 4px;
    background-color: black;
}

.header span::after,
.header span::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: black;
    cursor: pointer;
}

.header span::after {
    top: 8px;
    left: 0;
}

.header span::before {
    top: -8px;
    left: 0;
}
/*end hero-serction */


/* start welcome-section */
.welcome-section {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-hd {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: clamp(1.5625rem, 1.4336rem + 0.6875vw, 2.25rem);
    color: #10161A;
    position: relative;
}

.text-hd::after {
    content: "";
    height: 4px;
    width: 40px;
    background-color: var(--main-color);
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.welcome-section .box-container {
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.welcome-section .box::after {
    content: "";
    width: 0;
    height: 100%;
    background-color: #1C1D21;
    position: absolute;
    transition: 0.2s;
    left: 0;
    top: 0;
    z-index: -1;
}

.box:hover::after {
    width: 100%;
}

.box:hover h3 {
    color: #fff;
}

.welcome-section .box {
    text-align: center;
    border: 1px solid #EEE;
    padding: 40px 20px;
    position: relative;
    flex: 1;
}

.welcome-section i {
    font-size: 36px;
    color: var(--main-color);
}

.welcome-section h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 20px;
}

.welcome-section p {
    color: #868F9B;
}

.welcome-section a {
    color: #6195FF;
    margin-top: 15px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
/* end welcome-section */

/* start featured works */
.featured-works .box1-container{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.featured-works .box1 {
    flex:1 1 300px;
    position: relative;
    line-height: 0;
}

.featured-works img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-works .layout1 {
    position: absolute;
    background: #1C1D21;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    width: 110%;
    height: 110%;
    opacity: 0.7;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s all;
    /* opacity: 0; */
}

.featured-works .box1:hover .layout1 {
    opacity: 0.8;
}

.layout1 .txt-out p {
    color: var(--main-color);
    text-transform: uppercase;
}

.layout1 .txt-out h3 {
    color: white;
    font-weight: 800;
}

.layout1 .txt-out {
    line-height: 1.5;
}

.layout1 .hold-i {    
    margin-top: 10px;
}

.layout1 i {
    color: white;
    cursor: pointer;
    padding: 15px;
    display: inline;
    background-color: var(--main-color);
}
/* end featured works */

/* media query */

/* Small devices (phones) */
@media (max-width: 576px) {

}

/* Medium devices (tablets) */
.open {
    width: 250px !important;
}
/* Extra large devices (desktops) */
@media (max-width: 1200px) {
    .welcome-section .box-container {
        width: unset;
    }
    .featured-works .box1-container {
        width: 900px;
    }
    .featured-works .box1 {
        flex: 1 1 200px;
    }
}

/* Large devices (laptops) */
@media (max-width: 992px) {
    .welcome-section .box-container {
        flex-direction: column;
        width: unset;
    }
    .featured-works .box1-container {
        width: 800px;
    }
    .featured-works .box1 {
        flex: 1 1 300px;
    }
}

@media (max-width: 768px) {
    .header .nav {
        height: calc(100vh - 50px);
        width: 0;
        background-color: #1C1D21;
        position: fixed;
        right: 0;
        top: 57px;
        transition: 0.2s;
        z-index: 999999;
    }

    .header-container {
        height: 57px;
    }

    .header .nav ul {
        flex-direction: column;
        gap: 0;
    }

    .header .nav ul a {
        font-size: 15px;
        border-bottom: 1px solid gray;
        border-left: 6px solid var(--main-color);
        padding-left: 10px;
    }

    .header .nav ul a:hover {
        background-color: var(--main-color);
    }

    .header #wh-img {
        display: none;
    }

    .header #bl-img {
        display: block;
    }
    .header {
        padding-top: 0 !important;
    }

    .header .nav a::after {
        display: none;
    }
    
    .nav ul li {
        height: auto;
    }

    .header .drop-minue ul {
        position: relative;
        width: 100%;
        height: 50px;
        bottom: 0;
        background-color: var(--main-color);
        padding: 5px 20px 5px 0;
    }

    .header .span-holder {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-text button {
        font-size: 0.9rem;
        padding: 15px 10px;
    }
    .featured-works .box1-container {
        width: unset;
    }

}